aiogram==3.13.1
werkzeug==3.0.3  # Pin to a version compatible with Flask 2.3.3
gunicorn==22.0.0  # Optional, for running Flask on Heroku
motor==3.6.0
python-dotenv==1.0.1
aiohttp==3.9.5
flask==3.0.3
requests==2.31.0
python-telegram-bot==13.7
